*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	list-style: none;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
	background-color: #0a0d10;
}

.map svg {
	width: 250px;
	height: 250px;
	position: absolute;
	top: 5%;
	right: 5%;
}

#gemeindenzh path {
	stroke-width: 60px;
	fill: rgba(0, 0, 0, 0);
}

.label {
	font-family: 'Open Sans', sans-serif;
	font-size: 7px;
	fill: white;
	font-weight: 300;
}

.firstbutton, .secondbutton, .thirdbutton {
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));

    background-origin: border-box;

    border: 1px solid rgba(0, 0, 0, 0.1);

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.1) inset;
    border-radius: 0.25em;
    cursor: pointer;
    display: inline-block;
    font-size: 87.5%;
    line-height: 1.5;
    margin: 0.5em 0.5em 0 0;
    padding: 0.25em 1em;
    text-align: center;
    white-space: nowrap;
}

.firstbutton {
    background-color: white;
    color: black;
}

.secondbutton {
    background-color: #93c000;
    color: white;
}

.thirdbutton {
    background-color: #c05943;
    color: white;
}

.buttongroup {
	display: block;
	width: 350px;
	margin: 0 300px;
	position: fixed;
}



input {
	background-color: rgba(79, 204, 50, 0);
	width: 120px;
	margin: 5% auto;
	display:block
}

input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    /*fix for FF unable to apply focus style bug */
    /*required for proper track sizing in FF*/
    width: 120px;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 120px;
    height: 2px;
    background: #c61008;
    background-color: none;
    border: none;
    border-radius: 2px;

}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -3px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #c61008;
}

input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #c61008;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

